@media screen and (max-width: 670px) {
  #heading {
    font-size: 40px;
    text-align: center;
    margin: auto;
  }
}

.cng-image {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: block;
  margin: auto;
}
#input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}
#night {
  border-radius: 15px;
  background: white;
}

.carousel-item > img,
.girls {
  border-radius: 12px;
}
.clock {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url(img/clock2.png);
  background-size: cover;
  border: 2px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #091921;
  border-radius: 50%;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 120px;
  height: 120px;
}
.clock .min,
.mn {
  width: 140px;
  height: 140px;
}
.clock .sec,
.sc {
  width: 165px;
  height: 165px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 56px;
  background: #ff105e;
  z-index: 10;
  border-radius: 4px 4px 0 0;
}
.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 66px;
  background: #ff105e;
  z-index: 10;
  border-radius: 4px 4px 0 0;
}
.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  background: #ff105e;
  z-index: 10;
  border-radius: 4px 4px 0 0;
}
